<h5>Reset Password<mat-icon>lock_reset</mat-icon>
</h5>
<form [formGroup]="forgotPass" (ngSubmit)="Submit()">
    <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" required>
        <mat-error *ngIf="forgotPass.hasError('required','email') && forgotPass.get('email')?.dirty">
            Please enter your email
        </mat-error>
        <mat-error *ngIf="forgotPass.hasError('pattern','email')">
            Please Enter Valid Email
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="password" required>
        <mat-error *ngIf="forgotPass.hasError('required','password') && forgotPass.get('password')?.dirty">
            Please enter your new password
        </mat-error>
        <mat-error *ngIf="forgotPass.hasError('pattern','password')">
            Enter a valid password with atleast min length of 8 chars , one capital letter, one small letter,
            and one special char
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <mat-error
            *ngIf="forgotPass.get('confirmPassword')?.hasError('notSame') && forgotPass.get('confirmPassword')?.dirty">
            Passwords do not match
        </mat-error>
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button class="btn btn-success" [disabled]="forgotPass.invalid" type="submit"
            mat-dialog-close>
            <mat-icon>verified_user</mat-icon> Submit
        </button>
    </mat-card-actions>
</form>