<div class="main-body">

    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" style="font-size: 25px;">Claim Details</li>
        </ol>
    </nav>

    <div>
        <div class="col-md-8">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-mb-2">
                            <h6 class="mb-0">Treatment</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{treatment}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-mb-2">
                            <h6 class="mb-0">Claim Amount</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{claimAmt}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-mb-2">
                            <h6 class="mb-0">Claim Status</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{claimStatus}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>