<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div class="d-flex align-items-center">
      <button mat-button [matMenuTriggerFor]="menu" class="btn btn-secondary">Welcome, Admin</button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>
          <mat-icon aria-hidden="false">logout</mat-icon>Logout
        </button>
      </mat-menu>
    </div>
  </div>
</nav>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="ClaimNum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ClaimId </th>
      <td mat-cell *matCellDef="let row"> {{row.ClaimNum}} </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Patientname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
      <td mat-cell *matCellDef="let row"> {{row.Patientname}} </td>
    </ng-container>

    <ng-container matColumnDef="EndDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Submission Date </th>
      <td mat-cell *matCellDef="let row"> {{row.EndDate | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="Treatment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment </th>
      <td mat-cell *matCellDef="let row"> {{row.Treatment}} </td>
    </ng-container>

    <ng-container matColumnDef="PolDur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PolDur </th>
      <td mat-cell *matCellDef="let row"> {{row.PolDur}} </td>
    </ng-container>

    <ng-container matColumnDef="PolAmt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PolAmt </th>
      <td mat-cell *matCellDef="let row"> {{row.PolAmt}} </td>
    </ng-container>

    <ng-container matColumnDef="Eligible">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Eligible </th>
      <td mat-cell *matCellDef="let row"> {{row.Eligible}} </td>
    </ng-container>

    <ng-container matColumnDef="ClaimAmt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ClaimAmt </th>
      <td mat-cell *matCellDef="let row"> {{row.ClaimAmt}} </td>
    </ng-container>

    <ng-container matColumnDef="Coverage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Coverage </th>
      <td mat-cell *matCellDef="let row"> {{row.Coverage}} </td>
    </ng-container>

    <ng-container matColumnDef="claimStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> claimStatus </th>
      <td mat-cell *matCellDef="let row"> {{row.claimStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row ">
        <button mat-icon-button color="primary" (click)="openDialog(row.ClaimNum,row.email)" title="Edit Contact">
          <mat-icon>edit</mat-icon>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="11" style="text-align: center;">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>