<app-header></app-header>
<section>
    <div>
        <section class="about-section">
            <div class="container">
                <div class="row clearfix">

                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <div class="sec-title">
                                <div class="title">About Us</div>
                                <h2>We Are The Leader In <br> Health Insurance</h2>
                            </div>
                            <div class="text">Individual health insurance is an insurance plan that provides medical
                                coverage to a single person. It is a type of health insurance plan that needs to be
                                purchased separately for each family member you want medical benefits for. You can
                                customise the coverage as per your individual health needs. Most individual health
                                insurance plans provide comprehensive coverage to an individual for emergency medical
                                expenses resulting from hospitalization costs, day care procedures, road ambulance
                                services, alternative treatment, organ donor expenses, etc. Optima Secure can be the
                                one-stop solution for your health. A comprehensive network of hospitals and superfast
                                processing ensures that you get the best treatment within minutes.</div>
                            <div class="email">Request Quote: <span class="theme_color">HealthCare@gmail.com</span>
                            </div>
                            <a href="about.html" class="theme-btn btn-style-three">Get Updates </a>
                        </div>
                    </div>

                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image">
                                <img src="../../../assets/about.png" alt="">
                                <div class="overlay-box">
                                    <div class="dyear-box"><span class="number">25</span>Years <br> of <br>Experience
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
</section>
<app-footer></app-footer>