<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-facebook-f fa-0.5x" aria-hidden="true"> </i></a>
            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-twitter fa-1x"></i></a>
            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-google fa-1x"></i></a>
            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-instagram fa-1x"></i></a>
            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-linkedin fa-1x"></i></a>
            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-github fa-1x"></i></a>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#">HealthCare.com</a>
    </div>

</footer>