<header>
    <nav class="navbar navbar-expand-sm navbar navbar-light bg-dark fixed-top">
        <img src="../../../assets/logo.png" alt="logo">
        <div class="row1">
            <a href="#" routerLink="/home" class="healthCare">HealthCare</a>

            <ul class="main-nav">
                <li><a href="#" routerLink="/login">Login</a></li>
                <li><a href="#" routerLink="/signUp">Sign Up</a></li>
                <li><a href="#" routerLink="/feedback">Feedback</a></li>
                <li><a href="#" routerLink="/about">About Us</a></li>
                <li><a href="#" routerLink="/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>