.row1 {
    max-width: 1140px;
    margin: 0 0 20px 100px;
}

header {
    width: 100%;
    display: inline-block;
    margin: auto auto 50px auto;
    padding: 10px 0px 10px 0px;

}

.healthCare {
    font-family: 'Ledger', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    float: left;
    position: relative;
    top: 15px;
    right: 85px;
}

.main-nav {
    float: right;
    position: absolute;
    right: 70px;
    top: 15px;
    list-style: none;
    font-family: 'Elsie', cursive;
    font-style: normal;
    font-weight: 200;

}

.main-nav li {
    display: inline-block;
    margin: 20px;
    list-style: none;

}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 8px, 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

img {
    width: 4%;
    height: 4%;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}