<div class="jumbotron text-center">
	<h1 class="display-5">
		Change the Status of Claims
	</h1>
</div>

<div class="container">
	<div class="row custom-wrapper">
		<div class="col-md-12">

			<!-- Form starts -->
			<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
				<div class="group-gap">
					<div class="d-block my-3">

          <div class="mb-3">
            <select class="custom-select" (change)="changeCity('event')" formControlName="statusName">
              <option value="">Change the status </option>
              <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
            </select>

            <!-- error block -->
           
        </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-default btn-xs btn-block">Submit</button>
      <!-- Form ends -->

    </div>
  </div>
