<div class = "container">
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">

  <thead> 
    <tr> 
        <th scope="col">ClaimId</th> 
        <th scope="col">ClaimName</th> 
        <th scope="col">SubmissionDate</th> 
        <th scope="col">Status</th> 
        <th scope="col">Action</th> 
       
    </tr> 
    </thead> 
    <tbody> 
    <tr *ngFor="let e of source"> 
        <td>{{ e.ClaimNum }}</td> 
        <td>{{ e.Patientname}}</td> 
        <td>{{ e.EndDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{ e.claimStatus }}</td>
        <td>          
          <button mat-icon-button color="primary" (click)="openDialog()" title="Edit Contact"><mat-icon>edit</mat-icon></button>
        </td>
        </tr>
        </tbody>

  <!-- <ng-container matColumnDef="ClaimId">
    <th mat-header-cell *matHeaderCellDef> claimId</th>
    <td mat-cell *matCellDef="let employee "> {{employee}} </td>
  </ng-container>

  <ng-container matColumnDef="ClaimName">
    <th mat-header-cell *matHeaderCellDef> Claim Name </th>
    <td mat-cell *matCellDef="let employee "> {{employee.name}} </td>
  </ng-container>

  <ng-container matColumnDef="SubmissionDate">
    <th mat-header-cell *matHeaderCellDef> Submission Date </th>
    <td mat-cell *matCellDef="let employee"> {{employee.EndDate}} </td>
  </ng-container>
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> status </th>
    <td mat-cell *matCellDef="let employee "> {{employee.PolDur}} </td>
  </ng-container> -->

    <!-- <ng-container matColumnDef="ClaimId">
      <th mat-header-cell *matHeaderCellDef> claimId</th>
      <th mat-cell *matCellDef="let employee ">
        <tr *ngFor = 'let emp of employee.claimsDetails'>
          <td>{{emp.ClaimNum}}</td>
        </tr>
      </th>
    </ng-container>
  
    <ng-container matColumnDef="ClaimName">
      <th mat-header-cell *matHeaderCellDef> Claim Name </th>
      <th mat-cell *matCellDef="let employee ">
        <tr *ngFor = 'let emp of employee.claimsDetails'>
          <td>{{emp.Patientname}}</td>
        </tr>
      </th>
    </ng-container>
  
    <ng-container matColumnDef="SubmissionDate">
      <th mat-header-cell *matHeaderCellDef> Submission Date </th>
      <th mat-cell *matCellDef="let employee ">
        <tr *ngFor = 'let emp of employee.claimsDetails'>
          <td>{{emp.EndDate | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </th>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <th mat-cell *matCellDef="let employee ">
        <tr *ngFor = 'let emp of employee.claimsDetails'>
          <td>{{emp.claimStatus}}</td>
        </tr>
      </th>
    </ng-container>
  
    
 
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <th mat-cell *matCellDef="let employee ">
        <tr *ngFor = 'let emp of employee.claimsDetails'>
        <td mat-cell>
          
          <button mat-icon-button color="primary" (click)="openDialog()" title="Edit Contact"><mat-icon>edit</mat-icon></button>
        </td></tr>
      </th>
    </ng-container>
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
 
  </table>
  </div>

  
