.backdrop {
    background: linear-gradient(115.82deg, rgba(255, 255, 255, 0.2) 5.43%, rgba(255, 255, 255, 0.04) 96.17%);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    filter: blur(3px);
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

form {
    margin-bottom: 15px;
    background: #f19d20a1;
    box-shadow: 0px 2px 2px #312c51;
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
    color: #000000d5;
    text-align: center;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {

    width: 100px;
    height: 40px;
    background-color: #312c51;
    color: azure;

}